<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <H1>Login</H1>
    <form action="/user/login" method="post">

        <label>Email</label>
        <input type="text" required name="email" />

        <label>Password</label>
        <input type="text" required name="password" />

        <button type="submit">Login</button>
    </form>
</body>
</html>